* {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }



/*ul,
ol {
    list-style: none;
}
*/

a {
    text-decoration: none;
    color: inherit;
}

html {
    font-size: 16px; 
    -webkit-text-size-adjust: 100%; 
    scroll-behavior: smooth; 
}


input,
textarea,
select {
    font: inherit; 
    border: none;
    background: none;
    outline: none;
}

button {
    cursor: pointer;
    all: unset; 
    appearance: none; 
    -webkit-appearance: none; 
    -moz-appearance: none;
    cursor: pointer;
    display: inline-block;
}

body {
    min-height: 100vh;
    text-rendering: optimizeSpeed; 
    font-family: Arial, sans-serif;
}


@media (prefers-reduced-motion: reduce) {
    * {
        animation: none;
        transition: none;
    }
}