
@import url("reset.css");
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');

html, body {
  font-size: 16px;
  min-height: 100vh;
  margin: 0;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: sans-serif;
}

.grid-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 98vw;
  height: clamp(600px, 95vh, 1000px);
  margin: auto;
}

.site-grid {
  min-height: 100%;
  display: grid;
  background-color: #0000008f;
  border-radius: .5rem;
  padding: 1vw;
  gap: 1vw;
  grid-template-areas:
    "a b c"
    "d d e"      
}

.box-a { grid-area: a; }
.box-b { grid-area: b; }
.box-c { grid-area: c; }
.box-map { grid-area: d; }
.box-e { grid-area: e; }

.box {
  display: flex;
  border: .3rem solid #000;
  justify-content: center;
  align-items: center;
}

.box-a, .box-b, .box-c {
  background: #ffd0d0;
  width: clamp(30px, 25vw, 400px);
  height: clamp(15px, 10vh, 75px);
}

.box-b {
  display: flex;
  justify-content: center;
  align-content: center;
  gap: 1vw;
}

.box-map {
  width: clamp(600px, 70vw, 1000px);
  height: clamp(300px, 75vh, 700px);
}

#map {
  width: 100%;
  height: 100%;
  background-color: white;
  border: 2px solid black;
}

.box-e {
  display: flex;
  flex-direction: column;
  background: #d0d0ff;
  width: clamp(100px, 25vw, 400px);
  height: clamp(300px, 75vh, 700px);
}

.box-e-child {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.list-container {
  overflow-y: auto;
  height: 100%;
  width: 100%;
  padding: .5rem;
}

#list {
  margin: auto;
  padding-left: 1.6rem;
  font-family: "Arial"; 
  font-size: 0.85rem;                 
  line-height: 1.4;                
  color: #222;                      
}

/*.box-e-child:nth-child(2) {
} */

#chart {
  border-top: .3rem solid #000;
}


@media (max-width: 500px) {
  
  html, body {
    height: min-content;
    overflow-y: auto;
  }

  .grid-container {
    width: 98vw;
    height: clamp(600px, 95vh, 1000px);
    overflow: auto;
  }

  .site-grid {
    grid-template-areas:
      "a"
      "b"
      "c"
      "e";
    overflow-y: scroll;
    margin: auto; 

  }

  .box-a, .box-b, .box-c {
    background: #ffd0d0;
    width: clamp(200px, 96vw, 500px);
    height: clamp(40px, 96vh, 100px);
  }

  .box-map {
    display: none;
  }

  .box-e {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 0;
    flex-direction: column;
    background: #d0d0ff;
    width: clamp(200px, 96vw, 500px);
    height: clamp(1000px, 96vh, 1050px);
  }
  
  .box-e-child {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
  }
  
  .box-e-child:nth-child(2) {
    justify-content: center;
    align-items: center;
    border-top: .3rem solid #000;
  }
}